@import './utils/libs.scss';
@import './utils/vars';

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

* {
  box-sizing: border-box;
}

h2,
.h2 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

%clearButton {
  padding: 0;
  border: none;
  background: none;
  outline: 0;
  cursor: pointer;
}

%backgrounCover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control {
  border: none;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}

input {
  @extend .form-control;
  height: 50px;
}

textarea {
  @extend .form-control;
  min-height: 175px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Common */
body {
  font-size: 16px;
  color: $mainColor;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1110px;
  margin: auto;
}

.btn {
  border: none;
  background: $blue;
  color: #fff;
  outline: 0;
  padding: 25px 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.1s background-color;
}

.btn:hover {
  background: #6080a7;
}
/* Common end*/

.header {
  padding: 60px 0 140px 0;
  background-color: #eeeff1;
}

.header__top {
  margin-bottom: 160px;
}

.logo {
  display: inline-block;
}

.main-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline-block;
  margin-right: 42px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li.active a,
.navigation ul li a:hover {
  color: $blue;
}

.navigation a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  transition: 0.1s color;
}
/* Navigation end */

/* Hero */
.hero {
  display: flex;
  align-items: center;
}

.hero__img,
.hero__descr {
  width: 50%;
}

.hero__descr h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 0 0 30px 0;
  color: #000;
}

.hero__descr p {
  color: #727272;
  margin: 0 0 30px 0;
}
/* Hero end */

.skills {
  width: 400px;
  margin: 40px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    height: 480px;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    @extend %backgrounCover;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
    }

    &:before {
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;      
      background-color: rgba($blue, 0.8);      
    }

    &:after {
      width: 100px;
      height: 100px;
      background: url('../img/view.svg') no-repeat center;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover:before,
    &:hover:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.how-works .video {
  width: 50%;
}

.video {
  position: relative;

  &__img {
    width: 100%;
    display: block;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.4;
    }
  }

  &__play {
    @extend %clearButton;
    width: 100px;
    height: 100px;
    background-image: url('../img/play-button.png');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.section {
  padding: 100px 0;

  &--gray {
    background-color: #eeeff1;
  }

  &--blue {
    background-color: $blue;
    color: #fff;
  }

  &__header {
    text-align: center;
  }

  &__header + &__inner {
    margin-top: 55px;
  }

  &__title,
  &__descr {
    margin: 0;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    margin-bottom: 50px;
  }

  &__descr {
    max-width: 540px;
    margin: auto;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 6);
  }
}

.project {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 20px;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  &__count {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__descr {
    display: flex;
    flex-direction: column;
  }
}

.about {
  display: flex;
  align-items: center;

  &__skills,
  &__photo {
    width: 50%;
  }

  &__skills {
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__indicators {
    .indicator {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.my-photo {
  @extend %backgrounCover;
  width: 555px;
  height: 350px;
}

.indicator {
  &__name {
    margin-bottom: 10px;
    display: block;
  }

  &__line {
    height: 4px;
    background-color: #c4c4c4;

    span {
      display: block;
      height: 100%;
      background-color: $blue;
    }
  }
}

.contact-form {
  max-width: 540px;
  margin: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;

    &:first-child {
      margin-right: 30px;
    }
  }

  &__message {
    margin-bottom: 50px;
    width: 100%;
  }

  &__btn {
    margin: auto;
    display: block;
  }
}

@import 'media';